.mainInfo{
    display: flex;
}
.playerInfo{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid blue;
}
.playerSelectInfo{
    width: 30%;
    background-color: #ddd;
}